/**
 * @name Collapse Memberlist(OLD VERSION FROM MAY)
 * @description Modifies the memberlist to only expand on hover, leaving the avatars visible
 * @author TheDinoKingK
 * @version 1.2.0
 * @authorId 126281924059157154
 * @donate https://kofidontworkyet/
 * @website https://TheDinoKing.com/
 * @source https://notavaliablelmao/
 * @updateUrl https://againnotavaliablelmao/
 */


/** show server memberlist on hover
 * TODO: dynamically color role seperators */

:root{
    --mb-collapsed-width: 60px;
    --mb-transition-duration: .5s;
}

.container_f79ab4 {
    overflow: hidden !important;
    width: var(--mb-collapsed-width, 240px);
    transition: width var(--mb-transition-duration);
}

.container_f79ab4 .membersWrap__5ca6b {
    overflow: hidden !important;
    min-width: 240px;
    width: var(--mb-collapsed-width, 240px);
    transition: width var(--mb-transition-duration);
}


.vc-membercount-member-list {
    opacity: 0;
    overflow: hidden !important;
    transition: opacity var(--mb-transition-duration);
}

.membersGroup_cad095 {
    opacity: 100;
    height: 5px;
    width: 3.1rem;
    transform: translateY(-5px);
    padding: 16px 0 0 16px;
    overflow: hidden !important;
    transition: all var(--mb-transition-duration);
}

.membersGroup_cad095 span {
    border-top: 3px solid rgba(120,120,120,1);
    overflow: hidden !important;
    transition: all var(--mb-transition-duration);
}


.membersGroup_cad095 span [alt] {
    opacity: 0;
    overflow: hidden !important;
    transition: all var(--mb-transition-duration);
}

.membersGroup_cad095 span [style*="font-weight"] {
    opacity: 0;
    overflow: hidden !important;
    transition: all var(--mb-transition-duration);
}

.content_e8a0d1 {
    opacity: 0;
    overflow: hidden !important;
    transition: opacity var(--mb-transition-duration);
}

.container_f79ab4:hover {
    width: 240px;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards 
}

.container_f79ab4:hover .vc-membercount-member-list {
    opacity: 100;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards 
}

.container_f79ab4:hover .membersGroup_cad095 {
    opacity: 100;
    height: 40px;
    width: 240px;
    padding: 24px 8px 0 16px;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards 
}

.container_f79ab4:hover .membersGroup_cad095 span {
    border-top: 0px solid rgba(120,120,120,0);
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 150ms forwards 
}

.container_f79ab4:hover .membersGroup_cad095 span [alt] {
    opacity: 100;
    width: 16;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards 
}

.container_f79ab4:hover .membersGroup_cad095 span [style*="font-weight"] {
    opacity: 100;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards
}


.container_f79ab4:hover .content_e8a0d1 {
    opacity: 100;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards 
}

/* auto-hide fix for Group Chat Members */

/* UPDATE FIX BECAUSE FOR SOME REASON THE THREAD MEMBERS LIST IS WONKY ASWELL AAAAAAAAAAAAAAA */
/* TODO: Fix the fix for this somehow breaking the scrolling ability of the memberlist */


/* .membersWrap__5ca6b {
    overflow: hidden !important;
    min-width: var(--mb-collapsed-width);
    width: var(--mb-collapsed-width, 240px);
    transition: width var(--mb-transition-duration);
}


.membersWrap__5ca6b:hover {
    width: 240px;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards 
}

.membersWrap__5ca6b:hover .vc-membercount-member-list {
    opacity: 100;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards 
}

h2.membersGroup_cad095  {
    opacity: 100;
    height: 5px;
    width: 3.1rem;
    transform: translateY(-5px);
    padding: 16px 0 0 16px;
    overflow: hidden !important;
    transition: all var(--mb-transition-duration);
}

.membersWrap__5ca6b:hover .membersGroup_cad095 {
    opacity: 100;
    height: 40px;
    width: 240px;
    padding: 24px 8px 0 16px;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards 
}

.membersWrap__5ca6b:hover .content_e8a0d1 {
    opacity: 100;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards 
}


.hiddenMembers__0524b .members__573eb {
    / width: var(--mb-collapsed-width); /
    transform: translateX(88px);
    overflow: visible !important;
    transition: all var(--mb-transition-duration);
} 

.membersWrap__5ca6b:not(.hiddenMembers__0524b) .members__573eb {
    width: var(--mb-collapsed-width);
    overflow: visible !important;
    transition: all var(--mb-transition-duration);
} 


.membersWrap__5ca6b:hover .members__573eb {
    transform: translateX(0px);
    transition: all var(--mb-transition-duration);
} 

.membersWrap__5ca6b:not(.hiddenMembers__0524b):hover .members__573eb {
    width: 240px;
    transition: all var(--mb-transition-duration);
} 


.container_f79ab4 .members__573eb {
    transform: translateX(0px);
    width: 240px;
} 


.membersWrap__5ca6b:hover .membersGroup_cad095 span {
    border-top: 0px solid rgba(120,120,120,0);
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 150ms forwards 
}

.membersWrap__5ca6b:hover .membersGroup_cad095 span [alt] {
    opacity: 100;
    width: 16;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards 
}

.membersWrap__5ca6b:hover .membersGroup_cad095 span [style*="font-weight"] {
    opacity: 100;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards
} */
