/**
 * @name Collapsible Memberlist
 * @description Modifies the memberlist to only fully expand on hover, leaving the avatars visible
 * @author TheDinoKingK
 * @version 1.3.2
 * @authorId 126281924059157154
 * @donate https://ko-fi.com/thedinoking
 * @website https://TheDinoKing.com/
 * @source https://github.com/TheDinoKingK/discord-addons
 * @updateUrl https://raw.githubusercontent.com/TheDinoKingK/discord-addons/refs/heads/main/Themes/ThemeModules/Theme%20CSS/Dinos-Collapsible-Memberlist.theme.css
 */


/**
 * TODO: Refactor code so it works flawlessly in threads since the available code for those is different for some reason (not sure this is still an issue)
 * TODO: add similar functionality to DM profile sidebar
*/

:root{
    --mb-collapsed-width: 72px;
    --mb-expanded-width: 264.9px;
    --mb-transition-duration: .5s;
}

.container_c8ffbb {
    overflow: hidden !important;
    width: var(--mb-collapsed-width, --mb-expanded-width);
    transition: width var(--mb-transition-duration);
}

.container_c8ffbb .membersWrap_c8ffbb {
    overflow: hidden !important;
    min-width: var(--mb-expanded-width);
    width: var(--mb-collapsed-width, --mb-expanded-width);
    transition: width var(--mb-transition-duration);
}


.vc-membercount-member-list {
    opacity: 0;
    overflow: hidden !important;
    transition: opacity var(--mb-transition-duration);
}

.membersGroup_c8ffbb {
    opacity: 100;
    height: 5px;
    width: 3.5rem;
    transform: translateY(-5px);
    padding: 16px 0 0 16px;
    overflow: hidden !important;
    transition: all var(--mb-transition-duration);
}

.membersGroup_c8ffbb span {
    border-top: 4px solid currentColor;
    overflow: hidden !important;
    transition: all var(--mb-transition-duration);
}


.membersGroup_c8ffbb span [alt] {
    opacity: 0;
    overflow: hidden !important;
    transition: all var(--mb-transition-duration);
}

.membersGroup_c8ffbb span [style*="font-weight"] {
    opacity: 1;
    overflow: hidden !important;
    transition: all var(--mb-transition-duration);
}

.member__5d473 {
    transform:translateX(-5px);
    transition: all var(--mb-transition-duration);
}

/* hides usernames */
.content__91a9d {
    opacity: 0;
    overflow: hidden !important;
    transition: opacity var(--mb-transition-duration);
}

/* moves all the members up when the member-count is hidden away */
.container_c8ffbb .content__99f8c {
    transform: translateY(-20px);
    transition: all var(--mb-transition-duration);
}

.container_c8ffbb:hover {
    width: var(--mb-expanded-width);
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards 
}

.container_c8ffbb:hover .vc-membercount-member-list {
    opacity: 100;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards 
}

.container_c8ffbb:hover .membersGroup_c8ffbb {
    opacity: 100;
    height: 40px;
    width: var(--mb-expanded-width);
    padding: 24px 8px 0 16px;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards 
}

.container_c8ffbb:hover .membersGroup_c8ffbb span {
    border-top: 0px solid rgba(26,26,30,0);
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 150ms forwards 
}

.container_c8ffbb:hover .membersGroup_c8ffbb span [alt] {
    opacity: 100;
    width: 16;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards 
}

.container_c8ffbb:hover .membersGroup_c8ffbb span [style*="font-weight"] {
    opacity: 100;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards
}

.container_c8ffbb:hover .member__5d473 {
    transform:translateX(0px);
    animation: server-bar-overflow 0s linear 250ms forwards
}

.container_c8ffbb:hover .content__91a9d {
    opacity: 100;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards 
}

.container_c8ffbb:hover .content__99f8c {
    transform: translateY(0px);
    animation: server-bar-overflow 0s linear 150ms forwards 
}