/**
 * @name Collapsible Memberlist
 * @description Modifies the memberlist to only fully expand on hover, leaving the avatars visible
 * @author TheDinoKingK
 * @version 1.2.0
 * @authorId 126281924059157154
 * @donate https://kofidontworkyet/
 * @website https://TheDinoKing.com/
 * @source https://notavaliablelmao/
 * @updateUrl https://againnotavaliablelmao/
 */


/**
 * TODO: dynamically color role seperators 
 * TODO: Refactor code so it works flawlessly in Group chats & threads since the avaliable code for those is different for some reason
*/

:root{
    --mb-collapsed-width: 60px;
    --mb-transition-duration: .5s;
}

.container_cbd271 {
    overflow: hidden !important;
    width: var(--mb-collapsed-width, 240px);
    transition: width var(--mb-transition-duration);
}

.container_cbd271 .membersWrap_cbd271 {
    overflow: hidden !important;
    min-width: 240px;
    width: var(--mb-collapsed-width, 240px);
    transition: width var(--mb-transition-duration);
}


.vc-membercount-member-list {
    opacity: 0;
    overflow: hidden !important;
    transition: opacity var(--mb-transition-duration);
}

.membersGroup_cbd271 {
    opacity: 100;
    height: 5px;
    width: 3.1rem;
    transform: translateY(-5px);
    padding: 16px 0 0 16px;
    overflow: hidden !important;
    transition: all var(--mb-transition-duration);
}

.membersGroup_cbd271 span {
    border-top: 3px solid rgba(120,120,120,1);
    overflow: hidden !important;
    transition: all var(--mb-transition-duration);
}


.membersGroup_cbd271 span [alt] {
    opacity: 0;
    overflow: hidden !important;
    transition: all var(--mb-transition-duration);
}

.membersGroup_cbd271 span [style*="font-weight"] {
    opacity: 0;
    overflow: hidden !important;
    transition: all var(--mb-transition-duration);
}

.content_e9f61e {
    opacity: 0;
    overflow: hidden !important;
    transition: opacity var(--mb-transition-duration);
}

.container_cbd271:hover {
    width: 240px;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards 
}

.container_cbd271:hover .vc-membercount-member-list {
    opacity: 100;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards 
}

.container_cbd271:hover .membersGroup_cbd271 {
    opacity: 100;
    height: 40px;
    width: 240px;
    padding: 24px 8px 0 16px;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards 
}

.container_cbd271:hover .membersGroup_cbd271 span {
    border-top: 0px solid rgba(120,120,120,0);
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 150ms forwards 
}

.container_cbd271:hover .membersGroup_cbd271 span [alt] {
    opacity: 100;
    width: 16;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards 
}

.container_cbd271:hover .membersGroup_cbd271 span [style*="font-weight"] {
    opacity: 100;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards
}


.container_cbd271:hover .content_e9f61e {
    opacity: 100;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards 
}

/* auto-hide fix for Group Chats & Threads */
/* Temporarily removed due to breaking scrolling in memberlist  */


/* .membersWrap_cbd271 {
    overflow: hidden !important;
    min-width: var(--mb-collapsed-width);
    width: var(--mb-collapsed-width, 240px);
    transition: width var(--mb-transition-duration);
}


.membersWrap_cbd271:hover {
    width: 240px;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards 
}

.membersWrap_cbd271:hover .vc-membercount-member-list {
    opacity: 100;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards 
}

h2.membersGroup_cbd271  {
    opacity: 100;
    height: 5px;
    width: 3.1rem;
    transform: translateY(-5px);
    padding: 16px 0 0 16px;
    overflow: hidden !important;
    transition: all var(--mb-transition-duration);
}

.membersWrap_cbd271:hover .membersGroup_cbd271 {
    opacity: 100;
    height: 40px;
    width: 240px;
    padding: 24px 8px 0 16px;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards 
}

.membersWrap_cbd271:hover .content_e9f61e {
    opacity: 100;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards 
}


.hiddenMembers_cbd271 .members_cbd271 {
    / width: var(--mb-collapsed-width); /
    transform: translateX(88px);
    overflow: visible !important;
    transition: all var(--mb-transition-duration);
} 

.membersWrap_cbd271:not(.hiddenMembers_cbd271) .members_cbd271 {
    width: var(--mb-collapsed-width);
    overflow: visible !important;
    transition: all var(--mb-transition-duration);
} 


.membersWrap_cbd271:hover .members_cbd271 {
    transform: translateX(0px);
    transition: all var(--mb-transition-duration);
} 

.membersWrap_cbd271:not(.hiddenMembers_cbd271):hover .members_cbd271 {
    width: 240px;
    transition: all var(--mb-transition-duration);
} 


.container_cbd271 .members_cbd271 {
    transform: translateX(0px);
    width: 240px;
} 


.membersWrap_cbd271:hover .membersGroup_cbd271 span {
    border-top: 0px solid rgba(120,120,120,0);
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 150ms forwards 
}

.membersWrap_cbd271:hover .membersGroup_cbd271 span [alt] {
    opacity: 100;
    width: 16;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards 
}

.membersWrap_cbd271:hover .membersGroup_cbd271 span [style*="font-weight"] {
    opacity: 100;
    overflow: visible !important;
    animation: server-bar-overflow 0s linear 250ms forwards
} */
