/**
 * @name Bottom Aligned Server Bar
 * @description Currently modifies mrtipson's server-bar css to anchor to the bottom of the window, along with some other tweaks
 * @author TheDinoKingK
 * @version 1.0.8
 * @authorId 126281924059157154
 * @donate https://kofidontworkyet/
 * @website https://TheDinoKing.com/
 * @source https://notavaliablelmao/
 * @updateUrl https://againnotavaliablelmao/
 */

/* 
    TODO: center sidebar dynamically (patched but will need to change so it fits with other changes later)
    TODO: merge user area with the server sidebar
    TODO: fix server label hover height drastically changing due to differing scales
    TODO: automatically scale element down when not in use (might not implement)
    TDOO: fix end length because it doesnt dynamically scale for padding (--sb-bar-height)
    TODO: HOLY CRAp MY POSITIONING IS HORRIBLE I NEED TO FIX THE PADDING LOL
*/

:root {

    /* These are settings for server-bar-hide.css */
	--sb-collapsed-bottom: 22px;
	--sb-collapsed-top: 0px;
	--sb-transition-property: bottom;

    --sb-top: 0;
    --sb-right: 0.3%;
    --sb-left: 0.3%;

    --sb-origin: left top;
    --sb-rotate-bar: 90deg;
    --sb-rotate-bar-inner: none;
    --sb-rotate-servers: 90deg;


    --sb-label-left: calc(-50% - 42px);
    /* --sb-label-top: calc(50% + 40px); */
	--sb-label-top: calc(-50% - 41px);

	--sb-bottom: 72px;
	--sb-rotate-bar: -90deg;
	--sb-rotate-bar-inner: none;

    --sb-bar-height: 100vw;

	--sb-bar-top: 100%;
	--sb-bar-left: 0;

	/* These are toggles for server-folders.css (if used) */
	--bar-toggle-l: 100%;
	--bar-toggle-r: none;

}

/* remove server sidebar's "online friends" count */
#vc-friendcount {
    opacity: 0;
    transform: rotate(90deg);
    top: 97%;
    position: absolute;
}


/* basic centering stolen from Rag404 (thankies) */
.scroller_ef3116 {
    padding-bottom: 21px;
    display: flex;
    flex-direction: column;
    justify-content: safe center;
}


.tutorialContainer__1f388 {
    justify-content: start;
}


/* offset user profile popup to account for moved server list */
.accountProfilePopoutWrapper__37e49 {
	transform: translateX(19px);
}

/* Fixes vc-better-folders & horizontal serverbar not working properly, Original code snippet from NSPC911  */

:root {
    --bfhsl-make-folder-hover: 0 /* set to 1 if you want it to hover */
}

[class*=container]:has(> [aria-label="Servers sidebar"]) {
    [class^=listItem]:has([class^=guildSeparator]) {
        display: none;
    }
    [class^=folderEndWrapper] {
        display: none;
    }
    > div > nav {
        bottom: 100px;
        transform: rotate(-90deg) translateX(70px) !important;
        z-index: 0;
        box-shadow: calc(-10px * (0 + var(--bfhsl-make-folder-hover))) 0px calc(10px * (0 + var(--bfhsl-make-folder-hover))) 0 black;
    }
    &:has(> div > nav) > [class^=base] {
        margin-bottom: calc(72px * (1 - var(--bfhsl-make-folder-hover))) !important;
    }
}


/* .item__58105 span[style*="40px"] {
    width: 200px;
} */

/* .scroller_ef3116 [aria-label="Servers"] {
    display: flex;
    flex-direction: column;
    justify-content: safe center;
} */

/* .scroller_ef3116 .tutorialContainer__1f388 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.scroller_ef3116 .listItem__650eb .guildSeparator__252b6  {
    display: flex;
    flex-direction: column;
    justify-content: safe center;
}

.scroller_ef3116 .tutorialContainer__650eb {
    display: flex;
    flex-direction: column;
    justify-content: safe center;
} */



.base_c48ade /* friends list, chat */{
    position: absolute;
    left: var(--sb-left);
    top: var(--sb-top);
    bottom: var(--sb-bottom);
    right: var(--sb-right);
}
.guilds_c48ade.hidden_ef3116+.base_c48ade /* hide server bar when fullscreen */{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
}
.container_c48ade /* wrapper around base and navigation bar */{
    position: relative;
}

.baseLayer__960e4 > .container_c48ade { flex-direction: column-reverse }

.guilds_c48ade /* the whole navigation bar */{
    position: absolute;
    top: var(--sb-bar-top);
    left: var(--sb-bar-left);
    transform-origin: var(--sb-origin);
    transform: rotate(var(--sb-rotate-bar));
    height: var(--sb-bar-height);
	max-height: 99vw;
}

.guilds_c48ade .scroller_ef3116 /* the navigation bar */{
    padding-top: 21px;
}
[aria-label="Servers"] > * /* all servers and folders */{
    margin-top: 10px;
}
.guilds_c48ade .listItem__650eb .wrapper_cc5dd2 /* folder */{
    transform: rotate(var(--sb-rotate-servers));
}
.guilds_c48ade > * /* Server bar elements */{
    transform: rotate(var(--sb-rotate-bar-inner));
}
div[id^="folder"]>* /* servers in the opened folder */{
    margin: 8px 0;
}
.layer_da8173 [aria-label*="Pinned Messages"] > .messagesPopoutWrap__45690 /* pinned messages */,
.layer_da8173 [aria-label="Recent Mentions"] /* recent mentions */,
.layer_da8173 [aria-label="Unreads"] /* recent mentions */{
    max-height: 80vh !important;
}
.tooltipRight__382e7.tooltip__382e7 /* server name tooltip */{
    /* box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.50) !important; */
    box-shadow: var(--msg-soft-shadow) !important;
    position: relative;
    left: var(--sb-label-left);
    transform: translateY(var(--sb-label-top, 0)) !important;
}
.tooltipRight__382e7>.tooltipPointer__382e7 /* little arrow for tooltip */{
    opacity: 0;
}
.unreadMentionsIndicatorTop_ef3116 /* new message red popup bottom */,
.unreadMentionsIndicatorBottom_ef3116 /* new message red popup bottom */{
    display: none;
}

.itemsContainer_ef3116 {
    justify-content: safe center;
}


/* hacky centering fix for now */
.footer__214dc {
    position: absolute;
    transform: translatey(48vw);
}
.footer__214dc .listItem__650eb {
    padding-bottom: 1vw;
}