/**
 * @name Nitro Adblocker (Minimal)
 * @description A much less extreme 'adblocker' for nitro upsells that tries to maintain functionality
 * @author TheDinoKingK
 * @version 0.2.1
 * @authorId 126281924059157154
 * @donate https://kofidontworkyet/
 * @website https://TheDinoKing.com/
 * @source https://notavaliablelmao/
 * @updateUrl https://againnotavaliablelmao/
 */

/* disables nitro profile ad banner */
.container__8279f {
    display: none;
}

/* nitro server profiles setting upsell */
.upsellOverlay__0f7dc {
    display: none;
}

/* disables nitro subscription button in direct messages sidebar */
.channel__972a0 .link__972a0[data-list-item-id*="___nitro"] {
    display: none;
}