/**
 * @name (Slightly) Fancy Chat
 * @description A few small tweaks to the chat so it looks prettier (mainly message bubbles & dropshadows)
 * @author TheDinoKingK
 * @version 1.0.6
 * @authorId 126281924059157154
 * @donate https://kofidontworkyet/
 * @website https://TheDinoKing.com/
 * @source https://notavaliablelmao/
 * @updateUrl https://againnotavaliablelmao/
 */

/* TODO: color YOUR OWN messages with the accent color (might not be possible with pure css) */


:root {
    /* random variables */
    --msg-soft-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.3);
    --msg-drop-soft-shadow: 0px 2px 3px rgba(0, 0, 0, 0.6);
    --msg-bubble-color: 35, 35, 35;
}

/* message bubble background (original code stolen from DarkPlus By DevEvil) */

.cozyMessage__5126c .contents_c19a55 > .markup__75297:not(:empty, code) {
    background-color: rgba(var(--msg-bubble-color));
    display: inline-block;
    max-width: 1200px;
    min-width: 20px;
    /* box-shadow: var(--msg-soft-shadow); */
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    margin-top: 4px;
    padding: 12px;
    padding-right: 14px;
    border-radius: 12px;
}

/* Adds a dropshadow to literally everything in the chat history */
.scroller__36d07 {
    filter: drop-shadow(var(--msg-drop-soft-shadow));
}

/* image drop shadow */
/* .container_b7e1cb {
    filter: drop-shadow(var(--msg-img-soft-shadow));
} */

/* Adds a dropshadow to the message box */
.scrollableContainer__74017 {
    /* box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.3); */
    box-shadow: var(--msg-soft-shadow);
}


/* chat fading at the bottom effect */

.messagesWrapper__36d07:after {
    position: absolute;
    bottom: 0;  
    height: 100%;
    width: 100%;
    /* padding-right: 48px!important; */
    content: "";
    background: linear-gradient(to top,
        rgb(var(--backgroundprimary)) 1%, 
        rgba(var(--backgroundprimary), 0) 4%
    );
    pointer-events: none;
    z-index: 1.1;
    /* background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0) 30%, rgb(255, 0, 0)); */
}
